<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>bookListServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookListServlet</servlet-name>
    <url-pattern>/bookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>findBookByIdServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.FindBookByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findBookByIdServlet</servlet-name>
    <url-pattern>/findBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBookServlet</display-name>
    <servlet-name>updateBookServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBookServlet</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delBookServlet</display-name>
    <servlet-name>delBookServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.DelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delBookServlet</servlet-name>
    <url-pattern>/delBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>delAllBookServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.DelAllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAllBookServlet</servlet-name>
    <url-pattern>/delAllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>searchBooksServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.SearchBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBooksServlet</servlet-name>
    <url-pattern>/searchBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>pageServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findBookInfoServlet</display-name>
    <servlet-name>findBookInfoServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.FindBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findBookInfoServlet</servlet-name>
    <url-pattern>/findBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.anthony.web.servlet.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/checkEmailServlet</url-pattern>
  </servlet-mapping>
</web-app>